.classpath
target
/.settings/org.eclipse.jdt.apt.core.prefs
*#*#
*~
/compilationAfter
/compilationBefore
/MO2PBMO_v0.1/results/
*.pyc
/finalResults/multiobjective_cp2016/
/finalResults/instances/
*.out
/finalResults/convertedInstances/
