.classpath
target/*
!target/org.sat4j.moco.threeAlgorithms-0.0.1-SNAPSHOT.jar
!/target/org.sat4j.moco.threeAlgorithms-0.0.1-SNAPSHOT-jar-with-dependencies.jar
/.settings/org.eclipse.jdt.apt.core.prefs
*#*#
*~
/compilationAfter
/compilationBefore
/MO2PBMO_v0.1/results/
*.pyc
/finalResults/multiobjective_cp2016/
*.out
/finalResults/runsolver
/finalResults/MO2PBMO_v0.1/results/
